**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
Viikko 2/Other java files/target/test-classes/.netbeans_automatic_build
Viikko 2/Other java files/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Viikko 2/Other java files/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Viikko 2/Other java files/target/classes/NewClass.class
Viikko 2/Other java files/target/classes/Mainclass.class
Viikko 2/Other java files/target/classes/Koira.class
Viikko 2/Other java files/target/classes/Dog.class
Viikko 2/Other java files/target/classes/.netbeans_automatic_build
Viikko 2/Other java files/src/main/java/NewClass.java
Viikko 2/Other java files/src/main/java/Mainclass.java
Viikko 2/Other java files/src/main/java/Koira.java
Viikko 2/Other java files/pom.xml
Viikko 3/viikko3/Viikko3/pom.xml
Viikko 3/viikko3/Viikko3/src/main/java/Bottle.java
Viikko 3/viikko3/Viikko3/src/main/java/BottleDispenser.java
Viikko 3/viikko3/Viikko3/src/main/java/Mainclass.java
Viikko 3/viikko3/Viikko3/target/classes/.netbeans_automatic_build
Viikko 3/viikko3/Viikko3/target/classes/Bottle.class
Viikko 3/viikko3/Viikko3/target/classes/BottleDispenser.class
Viikko 3/viikko3/Viikko3/target/classes/Mainclass.class
Viikko 3/viikko3/Viikko3/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Viikko 3/viikko3/Viikko3/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Viikko 3/viikko3/Viikko3/target/test-classes/.netbeans_automatic_build
Viikko 3/viikko3/Viikko4/asd.txt
Viikko 3/viikko3/Viikko4/output.txt
Viikko 3/viikko3/Viikko4/pom.xml
Viikko 3/viikko3/Viikko4/src/main/java/asd.txt
Viikko 3/viikko3/Viikko4/src/main/java/Mainclass.java
Viikko 3/viikko3/Viikko4/src/main/java/ReadAndWriteIO.java
Viikko 3/viikko3/Viikko4/src/main/java/StringUtils.java
Viikko 3/viikko3/Viikko4/target/classes/.netbeans_automatic_build
Viikko 3/viikko3/Viikko4/target/classes/Mainclass.class
Viikko 3/viikko3/Viikko4/target/classes/ReadAndWriteIO.class
Viikko 3/viikko3/Viikko4/target/classes/StringUtils.class
Viikko 3/viikko3/Viikko4/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Viikko 3/viikko3/Viikko4/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Viikko 3/viikko3/Viikko4/target/test-classes/.netbeans_automatic_build
Viikko 3/viikko3/Viikko4/zipinput.zip
Viikko 3/viikko3/Viikko5/autoClass.xmi
Viikko 3/viikko3/Viikko5/autoClassUML.xmi
Viikko 4/Other java files/asd.txt
Viikko 4/Other java files/output.txt
Viikko 4/Other java files/pom.xml
Viikko 4/Other java files/src/main/java/asd.txt
Viikko 4/Other java files/src/main/java/Mainclass.java
Viikko 4/Other java files/src/main/java/ReadAndWriteIO.java
Viikko 4/Other java files/src/main/java/StringUtils.java
Viikko 4/Other java files/target/classes/.netbeans_automatic_build
Viikko 4/Other java files/target/classes/Mainclass.class
Viikko 4/Other java files/target/classes/ReadAndWriteIO.class
Viikko 4/Other java files/target/classes/StringUtils.class
Viikko 4/Other java files/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Viikko 4/Other java files/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Viikko 4/Other java files/target/test-classes/.netbeans_automatic_build
Viikko 4/Other java files/zipinput.zip
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Body.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Car.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Chassis.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Engine.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Ex-5-3-CarClasses.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Mainclass.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/AxeBehaviour.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/Character.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/ClubBehaviour.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/full-code-5-5.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/King.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/KnifeBehaviour.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/Knight.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/Mainclass.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/Queen.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/SwordBehaviour.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/Troll.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Tehtava-5-5/WeaponBehaviour.java
Viikko 5/Other java files/Viikko-5-tehtavat/src/main/java/Wheel.java
Viikko 5/Other java files/Viikko-5-tehtavat/target/classes/.netbeans_automatic_build
Viikko 5/Other java files/Viikko-5-tehtavat/target/classes/Body.class
Viikko 5/Other java files/Viikko-5-tehtavat/target/classes/Car.class
Viikko 5/Other java files/Viikko-5-tehtavat/target/classes/Chassis.class
Viikko 5/Other java files/Viikko-5-tehtavat/target/classes/Engine.class
Viikko 5/Other java files/Viikko-5-tehtavat/target/classes/Mainclass.class
Viikko 5/Other java files/Viikko-5-tehtavat/target/classes/Wheel.class
Viikko 5/Other java files/Viikko-5-tehtavat/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Viikko 5/Other java files/Viikko-5-tehtavat/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Viikko 5/Other java files/Viikko-5-tehtavat/target/test-classes/.netbeans_automatic_build
Viikko 6/Tehtävät/nbproject/project.xml
Viikko 6/Tehtävät/nbproject/project.properties
Viikko 6/Tehtävät/nbproject/private/private.properties
Viikko 6/Tehtävät/nbproject/genfiles.properties
Viikko 6/Tehtävät/nbproject/build-impl.xml
Viikko 6/Tehtävät/manifest.mf
Viikko 6/Tehtävät/build.xml
